/*------------------------------------------  HEADER   -------------------------------------------*/
.header {
    width: 100vw;
    height: 350px;
    background-image: url('assets/header5.png');
    background-size: auto 100px;
    background-size: cover;
    background-position: center -300px;
    border-radius: 0 0 250px 250px;
    margin: 0 auto;
    position: relative;
    right: 7%;
}

/*------------------------------------------  BODY   -------------------------------------------*/
body {
    margin: 0 auto;
    background-color: rgb(225, 217, 238);
    max-width: 90%;
    min-width: 500px;
    text-align: center;
    margin-bottom: 80px;
}

/*------------------------------------------  TEXTOS   -------------------------------------------*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 30;
    font-size: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    font-size: 28px;
    color: rgb(77, 52, 121);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 2000;
    font-size: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 2000;
    font-size: 12px;
    color: rgb(179, 171, 171);
}

p {
    font-family: 'Lato', sans-serif;
}

.texto-titulo {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 52, 121) !important;

}

/*----------------------------------  DIVS INDEX INFORME  ----------------------------------------*/
.response {
    background-color: white;
    border: 1px solid white !important;
    border-radius: 10px;
}

.case h2 {
    padding: 15px;
    margin: 15px;
}

.response {
    text-align: start;
    border: solid gray 2px;
    padding: 10px;
    margin: 10px;
}

.response h5 {
    margin: 0px;
    color: rgb(57, 57, 57);
}

.response h4 {
    margin-bottom: 0px;
}

.img {
    max-width: 800px;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

.hint {
    opacity: 0.7;
    color: rgb(200, 42, 42);
    border: 1px solid;
    padding: 5px;
    font-weight: bolder;
}

/*------------------------------------------  BOTONES   ------------------------------------------*/
.boton {
    padding: 10px 20px;
    background-color: rgb(136, 27, 187);
    border: 1px solid rgb(136, 27, 187) !important;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.boton:hover {
    background-color: rgb(44, 6, 62);
    border: 1px solid rgb(44, 6, 62) !important;
    color: white;
}

/*-----------------------------------  SVG CONTAINERS  ------------------------------------------*/

#vis-1 svg,
#vis-2 svg,
#vis-3 svg {
    border: solid 4px white;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: auto;
    height: auto;
    margin: 1%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/*------------------------------------------  FOOTER ------------------------------------------*/
footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    clear: both;
}